@page "/"
@using Blazored.LocalStorage
@using Microsoft.EntityFrameworkCore
@using NowwaitingSpotSearch.Contexts
@using NowwaitingSpotSearch.Entities
@using System.Diagnostics

<PageTitle>NowWaitingSpotSearch</PageTitle>

<style>
    .background-panel {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        /*background-color: rgb(0,0,0,0.2);*/
        z-index: 999;
    }
    .fixed-middle {
        position: fixed;
        top: calc(50% - (32px / 2));
        right: calc(50% - (32px / 2));
    }
</style>

@if (initialized) 
{
    <div class="container-fluid">
        @*검색조건*@
        <div class="row mt-2">
            <form @onsubmit="OnSubmit">
                <input @bind="name" @bind:event="oninput" type="text" class="form-control" placeholder="이름">
                <input @bind="address" @bind:event="oninput" type="text" class="form-control mt-1" placeholder="주소">

                @*장소타입*@
                <div class="mt-1">
                    <button class="btn btn-outline-dark px-2 py-0 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#spotType" aria-expanded="false" aria-controls="spotType">
                        ▼
                    </button>
                    <div class="collapse mt-1" id="spotType">
                        <div class="card card-body">
                            @foreach (var spotType in this.spotTypes)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="@spotType" checked>
                                    <label class="form-check-label" for="@spotType">
                                        @spotType
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100 mt-2 @(loading ? "disabled" : "")">검색</button>
            </form>
        </div>

        @*리스트*@
        <div class="row mt-2">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var spot in this.spots)
                        {
                            <tr @onclick="() => OpenSpotInfo(spot.Id)">
                                <td>
                                    <div style="font-size: 16px; font-weight: 600">
                                        @spot.Name
                                    </div>
                                    <div style="font-size: 12px">
                                        @spot.Address
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @*로딩*@
        @if (this.loading)
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="background-panel">
        <div class="d-flex justify-content-center fixed-middle">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
}

@code
{
    #region property

    //상수
    public const string NAME_KEY = "NAME";
    public const string ADDRESS_KEY = "ADDRESS";

    [Inject]
    public IDbContextFactory<WaitingDBContext> ContextFactory { get; set; }

    [Inject]
    public WaitingDBContext DefaultContext { get; set; }

    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    [Inject]
    public ILocalStorageService LocalStorageService { get; set; }

    private CancellationTokenSource tokenSource = new CancellationTokenSource();

    //로딩
    private bool initialized;
    private bool loading;

    //검색
    private string name;
    private string address;
    private List<string> spotSearchTypes = new List<string>();

    //결과
    private List<SpotEntity> spots = new List<SpotEntity>();
    private List<string> spotTypes = new List<string>();

    #endregion

    #region event

    //AfterRender
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            initialized = true;

            this.spotTypes = await this.DefaultContext.Spots.Select(x => x.SpotType).Distinct().ToListAsync();

            this.name = await LocalStorageService.GetItemAsStringAsync(NAME_KEY) ?? string.Empty;
            this.address = await LocalStorageService.GetItemAsStringAsync(ADDRESS_KEY) ?? string.Empty;
            this.spotSearchTypes.AddRange(this.spotTypes);

            if (!string.IsNullOrWhiteSpace(this.name) || !string.IsNullOrWhiteSpace(this.address))
            {
                await Query();
            }

            await InvokeAsync(StateHasChanged);
        }
    }

    //Submit
    public async Task OnSubmit()
    {
        if (string.IsNullOrWhiteSpace(this.name) && string.IsNullOrWhiteSpace(this.address))
        {
            await JSRuntime.InvokeAsync<object>("alert", "검색어를 입력하세요");
            return;
        }

        await Query();
    }

    #endregion

    #region method

    //검색
    public async Task Query()
    {
        this.tokenSource.Cancel();
        this.tokenSource.Dispose();
        this.tokenSource = new CancellationTokenSource();

        var token = this.tokenSource.Token;

        try
        {
            if (token.IsCancellationRequested)
            {
                return;
            }

            this.loading = true;

            Debug.WriteLine($"name: {name}, address: {address}");

            //초기화
            this.spots.Clear();

            //검색
            var context = await ContextFactory.CreateDbContextAsync();
            var spots = await context.Spots
                .AsQueryable()
                .Where(x => string.IsNullOrWhiteSpace(this.name) || x.Name.Contains(this.name))
                .Where(x => string.IsNullOrWhiteSpace(this.address) || x.Address.Contains(this.address))
                .Where(x => this.spotSearchTypes.Contains(x.SpotType))
                .OrderByDescending(x => x.Id)
                .ToListAsync();

            if (token.IsCancellationRequested)
            {
                return;
            }

            this.spots = spots;

            //저장
            await LocalStorageService.SetItemAsStringAsync(NAME_KEY, this.name);
            await LocalStorageService.SetItemAsStringAsync(ADDRESS_KEY, this.address);
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeAsync<object>("alert", $"[ERROR]\n{ex.Message}");
        }
        finally
        {
            if (this.tokenSource.Token == token)
            {
                this.loading = false;
            }

            await InvokeAsync(StateHasChanged);
        }
    }

    //스팟 정보 열기
    public async Task OpenSpotInfo(long spotId)
    {
        await JSRuntime.InvokeAsync<object>("open", $"https://store.nowwaiting.co/spots/{spotId}", "_blank");
    }

    #endregion
}